<?xml version="1.0"?>
<config>
    <modules>
        <AV_Quickorder>
            <version>0.1.0</version>
        </AV_Quickorder>
    </modules>
    <global>
        <models>
            <av_quickorder>
                <class>AV_Quickorder_Model</class>
            </av_quickorder>
        </models>
        <blocks>
            <av_quickorder>
                <class>AV_Quickorder_Block</class>
            </av_quickorder>
        </blocks>
        <helpers>
            <av_quickorder>
                <class>AV_Quickorder_Helper</class>
            </av_quickorder>
        </helpers>
    </global>
    <frontend>
        <routers>
            <av_quickorder>
                <use>standard</use>
                <args>
                    <module>AV_Quickorder</module>
                    <frontName>quickorder</frontName>
                </args>
            </av_quickorder>
        </routers>
        <layout>
            <updates>
                <av_quickorder>
                    <file>quickorder.xml</file>
                </av_quickorder>
            </updates>
        </layout>
    </frontend>
</config>